.marked {
  position: relative;
  z-index: 1;
  display: inline-block;
}

.marked::before {
  /* Highlight color */
  background-color: var(--color-2);

  content: "";
  opacity: 0.5;
  position: absolute;
  width: calc(100% + 4px);
  height: 45%;
  left: -2px;
  bottom: 0;
  z-index: -1;
  transform: rotate(-2deg);
}

.marked {
  &.style-2::before {
    opacity: 0.3;
    height: 34%;
    background-color: var(--color-3);
    transform: rotate(-1deg);
  }
}

.marked {
  &.style-3::before {
    opacity: 0.9;
    height: 45%;
    background-color: var(--color-1);
    transform: rotate(1deg);
  }
}
