body {
  --secondary: #c89db8;
  --primary: #56b6ce;
  --background: #0b0d1a;
  --background-light: #171926;
  --salmon: #fffdfd;
  --highlight: rgba(200, 157, 184, 0.6);

  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--salmon);
  overflow-x: hidden;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: var(--highlight);
}

::selection {
  color: white;
  background: var(--highlight);
}

a {
  color: var(--salmon);
  text-decoration: none;

  &:hover {
    color: var(--secondary);
  }
}

// Gradient to hide image in white fog
// linear-gradient(to bottom,var(--vy-white),rgba(245,245,245,.57) 50%,var(--vy-white)),url(https://assets-global.website-files.com/5f97e53f0dfe4317882c4b91/630124a4510a182394b78a68_map.jpg)
