body {
  --color-1: #c89db8;
  --color-2: #56b6ce;
  --color-3: #0b0d1a;
  --color-3-decimal: 11, 13, 26; // #0b0d1a;
  --color-4: #e3d3d4;
  --color-5: #171926;

  margin: 0;
  padding: 0;
  // font-family: "Raleway", sans-serif;
  // font-family: "Montserrat";
  background-color: var(--color-3);
  color: var(--color-4);
  overflow-x: hidden;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

a {
  color: var(--color-4);
  text-decoration: none;

  &:hover {
    color: var(--color-1);
  }
}

.font-display-2 {
  font-weight: 700;
  font-family: "Raleway";
  font-size: min(max(6vw, 32px), 56px);
}

h2 {
  font-family: "Raleway";
  font-size: min(max(12vw, 64px), 80px);
  text-transform: uppercase;
  font-weight: 900;
  margin: 0;
}

// Gradient to hide image in white fog
// linear-gradient(to bottom,var(--vy-white),rgba(245,245,245,.57) 50%,var(--vy-white)),url(https://assets-global.website-files.com/5f97e53f0dfe4317882c4b91/630124a4510a182394b78a68_map.jpg)
